<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="./main.css" rel="stylesheet">

    <title>Binar Challenge (Chapter 3)</title>
  </head>
  <body>
    <div id="home" class="my-container">
        <section id="page-1" class="my-page" style="background-image: url('./assets/img/main-bg.jpg');">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container-fluid">
                      <a class="navbar-brand" href="#">Logo</a>
                      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                      </button>
                      <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                          <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#home">HOME</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#page-2">SPECIAL</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#page-3">FEATURES</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#page-4">SYS REQ</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#page-5">TOP SCORES</a>
                          </li>
                        </ul>
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/signup">SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="/login">LOGIN</a>
                            </li>
                        </ul>
                      </div>
                    </div>
                </nav>
                <div class="cover-container d-flex w-100 h-100 p-3 me-2 text-center flex-column text-cover info">
                    <main class="px-3 py-5">
                      <h1>PLAY TRADITIONAL GAMES</h1>
                      <p class="lead align-item-center">Experience new traditional game play</p>
                      <a href="/games">
                        <button type="button" class="button">PLAY NOW</button>
                      </a>
                    </main>
                  </div>
        </section>
        <section id="page-2" class="my-page" style="background-image: url('./assets/img/the-games-bg.jpg');">
            <div class="my-container">
              <br>
              <br>
                <div class="row">
                        <div class="col-4 info">
                            <p>What's so special?</p>
                            <h2>THE GAMES</h2>
                        </div>
                            <div class="col-8 px-5 py-5">
                                <div class="carousel slide just" data-bs-ride="carousel">
                                    <div class="carousel-inner">
                                      <div class="carousel-item active">
                                        <img src="./assets/img/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="rock paper strategy">
                                      </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                      <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                </div>
            </div>
        </section>
        <section id="page-3" class="my-page" style="background-image: url('./assets/img/features.jpg');">
            <div class="my-container">
                <div class="row">
                    <div class="col-6 px-5 py-5">

                    </div>
                    <div class="col-6 info align-content-center">
                        <br>
                        <br>
                        <br>
                        <p>What's so special?</p>
                        <h2>FEATURES</h2>
                        <br>
                        <br>
                        <h3>TRADITIONAL GAMES</h3>
                        <h4>If you miss your childhood, we provide many traditional games here</h4>
                        <br>
                        <br>
                        <br>
                        <h3>GAME SUIT </h3>
                        <br>
                        <br>
                        <h3>TBD</h3>
                    </div>
                </div>
            </div>
        </section>
        <section id="page-4" class="my-page" style="background-image: url('./assets/img/requirements.png');">
            <div class="my-container info">
                    <div class="row">
                        <div class="col-6 info">
                          <br>
                          <br>
                          <br>
                            <table class="table table-responsive my-table" >
                                <thead>
                                    <h2>SYSTEM REQUIREMENTS</h2>
                                    <br>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="info">
                                            <h5>OS:</h5>
                                            <h4>Windows 7 64 bit only (No OSX support at this time)</h4>
                                            <br>
                                        </td>
                                        <td class="info">
                                            <h5>PROCESSOR:</h5>
                                            <h4>Intel Core 2 Duo @2.4Ghz or AMD Athlon X2 @2.8 Ghz</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="info">
                                            <h5>MEMORY:</h5>
                                            <h4>4 GB RAM</h4>
                                            <br>
                                        </td>
                                        <td class="info"
                                        ><h5>STORAGE:</h5>
                                            <h4>8 GB available space</h4>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="info">
                                            <h5>GRAPHICS:</h5>
                                            <h4>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6 align-content-center">                            
                        </div>
                </div>
            </div>
        </section>
        <section id="page-5" class="my-page" style="background-image: url('./assets/img/bg-5.webp');">
            <div class="my-container">
                <div class="row">
                    <div class="col-6 info align-content-center">
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                        <h2>TOP SCORES</h2>
                        <p>This top score from various games provided on this platform</p>
                        <button>see more</button>
                    </div>
                    <div class="col-6 align-content-center">
                        <div class="my-container">
                            <div class="row">
                              <div class="col-2"></div>
                              <div class="col">
                                <div class="card my-card">
                                    <div class="card-body info">
                                      <img src="./assets/img/avatar1.png" class="avatar rounded-circle" alt="Evan Lahti">
                                      <h5 class="card-title">Evan Lahti</h5>
                                      <h6>PC Gamer</h6>
                                      <p class="card-text">"One of my gaming highlights of the year."</p>
                                      <h6>October 18, 2018</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                  <div class="card my-card" >
                                      <div class="card-body info">
                                        <img src="./assets/img/avatar2.png" class="avatar rounded-circle" alt="Jada Griffin">
                                        <h5 class="card-title">Jada Griffin</h5>
                                        <h6>Nerdreactor</h6>
                                        <p class="card-text">"The next big thing in the world of streaming and survival games."</p>
                                        <h6>December 21, 2018</h6>
                                      </div>
                                  </div>
                                  <div class="col-2"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2"></div>
                                <div class="col">
                                  <div class="card my-card" >
                                      <div class="card-body info">
                                        <img src="./assets/img/avatar3.png" class="avatar rounded-circle" alt="Aaron Williams">
                                        <h5 class="card-title">Aaron Williams</h5>
                                        <h6>Uproxx</h6>
                                        <p class="card-text">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
                                        <h6>December 24, 2018</h6>
                                      </div>
                                  </div>
                              </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>